# Python venv
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# IDE / Editors
.vscode/
.idea/
*.swp

# Build artifacts
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg-info/
